
.accordion {
  width: 100vw;
  margin: 0;
}

.accordion-header,
.accordion-body {
  background: rgba(255, 255, 255, 0);
}

.accordion-header {
  padding: 1.5em 0;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: .1em;
  transition: all 0.3s cubic-bezier(.4,0,0,1);
  border-bottom: 1px solid #ffffff;
  color: #17171c;
  background-size: 200% 200%;
 background: rgba(225, 226, 229, .25)
padding-left: 27px !important;
padding-right: 27px !important;
filter: blur(20%): 
}

.accordion-header:hover {
  color: #fff;

  background-position: 0 100%;
  position: relative;
  z-index: 5;
  padding: 1.5em;
}

.accordion-body {

  color: #555;
  display: none;
  font-weight:300;
}

.accordion-body__contents {
  padding:20px 25px 25px;
}

.accordion-body__contents p {
  font-size: 16px;
}

.accordion-body__contents h4 {
  font-size: 20px;
  margin-top:0;
}

button {
  padding:15px;
  font-size:18px;
}
.accordion-body__contents h5 {
  font-size: 18px;
}

.accordion-body__contents .l-heading {
  font-size: 18px;
  font-weight:bold;
  margin:0;
}

.accordion-body__contents ul {
  margin:5px 0 20px;
}

.accordion-body__contents ul li {
  font-size: 16px;
  padding:0 10px;
}

.accordion__item > .accordion-header:after {
  content: "\e5c8";
  font-family: Material Icons;
  font-size: 1.5em;
  float: right;
  position: relative;
  top: -2px;
  transition: 0.1s cubic-bezier(.4,0,0,1);
  transform: rotate(0deg);
}

.accordion__item.active > .accordion-header:after {
  transform: rotate(-180deg);
}

.accordion__item.active .accordion-header {
  background: rgba(225, 226, 229, .25)
  color:#555;
  padding:1.5em;
}

.fp-section {
	width: 100vw;
  }

@media screen and (max-width: 1000px) {

  .accordion {
	width: 100%;
  }
}